In [1]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import numpy as np
import pandas as pd
from sklearn.cluster import MeanShift
from mpl_toolkits.mplot3d import Axes3D
from sklearn.linear_model import LinearRegression
from sklearn import model_selection
import math

In [2]:
df = pd.read_csv(r"E:\Python-Notebooks\big_data_challenge\datasets_bdc\ren-energy-north-america.csv")
df.head(10)

,Year,Marine,Geothermal,Bioenergy-Renewable Municipal Waste,Bioenergy-Liquid Biofuels,Bioenergy-Biogas,Bioenergy-Solid Biofuels,Solar-Thermal,Solar-Photovoltaic,Wind-Offshore,Wind-Onshore,Hydropower-Renewable Hydropower,Hydropower-Mixed Plants,Pumped Storage
0,2000,20,3648.0,1320.5,0,992,7677,419,197,0,2486,156272,0,19699
1,2001,20,3054.0,12757.5,0,994,8129,246,237,0,4012,155479,0,19843
2,2002,20,3095.0,1253.0,0,1067,8268,202,281,0,4596,158064,0,20550
3,2003,20,3093.0,1226.5,35,1145,8532,388,321,0,6340,158579,0,20699
4,2004,20,3112.0,1103.5,65,1115,8816,388,393,0,6918,158925,0,20941
5,2005,20,3245.0,1101.0,67,1236,8652,388,527,0,9401,159970,0,21524
6,2006,20,3234.0,1111.5,67,1315,8858,401,736,0,12853,161313,0,21638
7,2007,20,3174.0,1126.5,75,1629,9244,465,1022,0,18456,162782,0,22063
8,2008,20,3192.0,1125.0,82,1715,9200,465,1210,0,27089,163647,0,22035
9,2009,20,3347.0,1131.5,183,1728,9273,472,1746,0,38004,164556,12308,22337

In [3]:
energy_list = ['Marine', 'Geothermal', 'Bioenergy', 'Solar', 'Wind', 'Hydropower', 'Pumped Storage']
sub_energy_dict = {'Marine':['Marine'], 'Geothermal':['Geothermal'], 
                   'Bioenergy':['Bioenergy-Renewable Municipal Waste', 'Bioenergy-Liquid Biofuels', 'Bioenergy-Biogas', 'Bioenergy-Solid Biofuels'],
                  'Solar':['Solar-Thermal', 'Solar-Photovoltaic'],
                  'Wind':['Wind-Offshore', 'Wind-Onshore'],
                  'Hydropower':['Hydropower-Renewable Hydropower', 'Hydropower-Mixed Plants'],
                  'Pumped Storage':['Pumped Storage']}

In [4]:
def get_caps(df, energy):
    
    dict = {}

    for i in range(len(df)):
        sum = 0
        for sub in sub_energy_dict[energy]:
            val = float(df.loc[i, sub])
            sum += val
            
            if sub not in dict:
                dict[sub] = []
            
            dict.append(val)
        
        if 'total' not in dict:
            dict['total'] = []
    
        dict['total'].append(sum)
        
    return dict